# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Environment variables
.env

# Generated datasets
data/raw/*.csv
data/processed/*.csv

# Model artifacts
*.pkl
*.joblib

# IDE
.vscode/

# OS
.DS_Store